<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/Rida_/Downloads/examen final/TP1"><classes><class name="saucedemoTests.TestLogin"><methods><include name="testValidLogin"/><include name="testInvalidLogin"/></methods></class><class name="saucedemoTests.TestProducts"><methods><include name="testProductSortingByNameAZ"/></methods></class></classes></test></suite>